.change-password {
    padding-top: 165px;
    font-family: "Maven Pro", sans-serif;
    background: #f4f4f4;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 101%;
}

.profile-detail .input-field {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 0px;
    border: 2px solid #ddd;
    outline: none;
    margin-bottom: 15px;
}

.input-field:focus {
    border-radius: 0px;
    border: 2px solid black;
}

.input-field::placeholder {
    color: #aaa;
    font-size: 16px;
}

.input-field:hover {
    border-color: rgba(0, 0, 0, 0.4);
}

.toggle-btn {
    position: absolute;
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #666;
    transition: color 0.3s ease;
    padding-right: 10px;
    padding-bottom: 14px;
}

.toggle-btn:hover {
    color: black;
}

.save-btn{
    margin-bottom: 10px;
}