.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* Stronger shadow for navbar */
    position: relative;
    z-index: 10;
    max-width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-left .company-logo {
    width: 180px;
    height: auto;
}

.navbar-center {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 650px;
}

.search-bar {
    width: 100%;
    padding: 12px 40px;
    border: 2px solid #ddd;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0px;
}

.search-bar:focus {
    border-color: #133365;
}

.search-icon {
    position: absolute;
    left: 9px;
    top: 35%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
    pointer-events: none;
}

.search-bar::placeholder {
    color: #888;
    font-size: 14px;
}

.search-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #133365;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.search-button:hover {
    transform: scale(1.01);
}

.search-results {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    transform: translateX(-60%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Individual Search Item */
.search-item {
    padding: 10px;
    border-bottom: 1px dotted #ddd;
    cursor: pointer;
    transition: background 0.2s;
    font-size: 14px;
}

.search-item:hover {
    background: #f1f1f1;
}

.no-result {
    padding: 10px;
    color: red;
    text-align: left;
    font-size: 16px;
}

.search-results::-webkit-scrollbar {
    width: 5px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #133365;
    border-radius: 10px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    padding: 16px 28px;
    background-color: #f8f9fa;
    /* Light grey background */
    position: relative;
    z-index: 9;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08);
    /* Lighter shadow to create a soft separation */
    color: #666;
    /* Slightly darker for better readability */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-link ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-link ul li {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    /* border: 1px solid transparent; */
}

.navbar-link ul li:hover {
    color: #133365;
    /* background-color: #ddd; */
}

.home-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.home-item svg {
    font-size: 20px;
}

.home-item b {
    font-size: 16px;
    font-weight: 500;
}

.navbar-link ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-link ul li a:hover {
    color: #133365;
}


.icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.cart-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: #133365;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    height: 30px;
    width: auto;
    justify-content: center;
}

.cart-count {
    position: absolute;
    top: 4px;
    right: 59px;
    /* top : -5px;
    right: -5px;
    background-color: #e0e4e7; */
    background-color: #ffffff;
    color: #133365;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    /* width: 20px;
    height: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 100%;
    box-sizing: border-box;
    height: 60px; 
    width: 100%;
    padding-top: 10px; 
} */