.card-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.card-section-header {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.card-section-header h5 {
    font-size: 1.5rem;
    color: #133365;
    font-weight: 600;
    /* margin-top: 0px; */
}

.card-section-header button {
    background-color: #e1e8ef;
    color: #133365;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Maven Pro', sans-serif;
    box-shadow: black;
}

.card-section-lower {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}

.product {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #e0e0e0;
}

.product-header {
    position: relative;
    cursor: pointer;
}

.product-discount {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #F2FEF2;
    color: #51AA1B;
    font-size: 0.8rem;
    padding: 3px 6px;
    border: #51AA1B solid 1px;
    cursor: pointer;
}

.product-image {
    margin-top: 35px;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-text {
    font-size: 1rem;
    color: #133365;
    margin: 5px 0;
}

.product-rating-main {
    display: flex;
    margin-left: 15px;
    gap: 5px;
    align-items: center;
}

.product-rating-avg {
    justify-content: last baseline;
    border-radius: 0 75px 75px 0;
    width: 50px;
    height: 25px;
    background-color: #133365;
}

.rating {
    font-size: 0.85rem;
    color: #ffffff;
    align-items: center;
}

.product-rating-total {
    font-size: 0.8rem;
    color: #666;
    margin-left: 10px;
}

.no-rating {
    font-size: 0.8rem;
    color: #999;
    border-radius: 0 55px 55px 0;
    border: 1px solid #e4e4e4;
    width: 100px;
    height: 20px;
    margin-left: 30px;
}

.product-footer {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px; 
}

.product-regular-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9rem;
}

.product-discount-price {
    color: #133365;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 5px;
}

.add-to-cart,
.out-of-stock,
.coming-soon {
    background-color: #133365;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 75px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.out-of-stock,
.coming-soon {
    background-color: #8091ab;
    cursor: not-allowed;
}

.add-to-cart:hover {
    /* background-color: #0c8db9; */
    transform: scale(1.05);
}

.inquiry-now {
    background-color: #08b4ce;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 75px;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.inquiry-now:hover {
    /* background-color: #0c8db9; */
    transform: scale(1.05);
}

/* Optional: Prevent hover effect for disabled buttons */
.out-of-stock:hover,
.coming-soon:hover {
    background-color: #8091ab;
    transform: none;
}


.like-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.like-icon:hover {
    transform: scale(1.2);
}

.product-slider-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
}

.arrow2 {
    font-size: 2.5rem;
    color: grey;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    pointer-events: auto;
    width: 2rem;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.arrow2:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.arrow-left {
    position: absolute;
    left: 20px;
    /* Adjust to align within the container */
}

.arrow-right {
    position: absolute;
    right: 20px;
    /* Adjust to align within the container */
}

.add-to-cart-quantity {
    background-color: #c9d7e3;
    color: #133365;
    border: none;
    border-radius: 75px;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 95px;
    height: 26px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: auto;
}

.add-to-cart-quantity button {
    background-color: #ffffff;
    color: #133365;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

