.subcategory {
    padding-top: 155px;
    font-family: "Maven pro", sans-serif;
    background: #f4f4f4;
    height: max-content;
    padding-bottom: 20px;
}

.subcategory-menu {
    display: flex;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 97%;
}

.subcategory-item {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
    color: #133365;
    transition: all 0.3s ease;
    border-right: 1px solid #ddd;
}

.subcategory-item:last-child {
    border-right: none;
}

.subcategory-item.active {
    background: #d3e3f3;
    font-weight: bold;
    color: #133365;
    border-radius: 5px;
}

.subcategory-item:hover {
    background: #d3e3f3;
    border-radius: 5px;
}